* {
    box-sizing: border-box;
}
table{
    border-collapse: collapse;
    overflow: auto;
    font: 20px;
    position: absolute;
    top: 70px;
    left: 70px;
}
.row_front{
    background-color: #f0f0f0;
}
#row_wrapper{
    position: absolute;
    top: 70px;
    left: 0px;
    width: 70px;
    height: 140px;
}
body{
    background-color: lightgray;
}
#col_wrapper{
    position: absolute;
    top: 0px;
    left: 70px;
    width: 140px;
    height: 70px;
}
textarea{
    height: 100%;
    width: 100%;
    display: block;
    padding: 0;
    vertical-align: bottom;
    border: none;
    resize: none;
    font-size: 20px;
}
textarea:focus{
    outline: none;
}
td{
    border: 2px black solid;
    background-color: white;
    padding: 0px;
}
.focused{
    border: 4px blue solid;
}
#focused_th{
    background-color: lightgreen;
}
#focused_row{
    background-color: lightgreen;
}
td span{
    display: block;
    width: 120px;
    height: 35px;
    /*padding: 8px;*/
}
/*.row_front{
    width: 50;
}*/
button{
    height: 70px;
    width: 70px;
    font-size: 50px;
    background-color:white;
    border: 2px darkgray solid;
}
th{
    background-color: #f0f0f0;
    text-align: center;
    border: 2px black solid;
    padding: 8px;
}
span{
    font-size: 20px;
}