@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.PlayScreen{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 1010px;
  height: 621px;
  margin:auto;
  margin-top: 100px;
}

.UserList-view{
  flex: 1;
  background-color: azure;
  margin: 10px;
  border-radius: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: stretch; */
}

.userbox{
  /* flex: 1; */
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgb(214, 246, 214);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  /* justify-items: center; */
}

.myuserbox{
  /* flex: 1; */
  height: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgb(169, 255, 183);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  /* justify-items: center; */
}

.userbox_score{
  font-size: 14px;
  /* width: 120px; */
  text-align: left;
}

.userbox_name{
  font-size: 20px;
  margin: 10px;
  /* width: 120px; */
  text-align: left;
}

.userbox_avatar{
  margin: 15px;
}

.LogIn-avatar{
  margin-bottom: 20px;
}

.CanvasAndChat-view{
  flex: 2;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.Canvas{
  background-color:azure;
  flex:2;
  margin: 10px;
  border-radius: 10px;
}

.Chat{
  flex:1;
  background-color: azure;
  margin: 10px;
  border-radius: 10px;
}

.LogIn-view{
  background-color: azure;
  width:  350px;
  height: 421px;
  border-radius: 10px;
  margin:auto;
  margin-top: 210px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.LogIn-title{
  font-family: ComicSansMS;
  font-size: 60px;
}

.LogIn-name{
  width: 200px;
  margin-bottom: 20px;
}